@define-color base #1e242f;
@define-color primary_orange #fe9000;
@define-color primary_red #da1b2b;
@define-color primary #afd2e9;


@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    font-family: "Fira Code Nerd Font";
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @primary;
    background-color: transparent;
}

window image {
    padding-left: 10px;
}

.modules-left,
.modules-right {
    font-size: 12px;
    border-radius: 5em;
    background: @base;
    padding: 0px 10px 0px 10px;
}

/* Every modules */
#scratchpad,
#workspaces,
#window,
#mode,
#tray,
#custom-clipboard,
#idle_inhibitor,
#keyboard-state,
#pulseaudio,
#network,
/* #battery,
#bluetooth, */
#cpu,
#memory,
#clock,
#custom-weather,
#custom-power {
    padding: 0px 10px 0px 10px;

}

/* -----------------------------------------------------------------------------
 * Modules Right
 * -------------------------------------------------------------------------- */

#scratchpad {
    padding-left: 10px;
}

#workspaces {
    font-size: 16px;
}

#workspaces button {
    padding: 0 4px 0 4px;
    color: @primary;
}

#workspaces button.focused {
    color: @primary_orange;
}

#workspaces button:hover {
    color: @primary;
    background: @base ;
    text-shadow: none;

}

#workspaces button.urgent {
    color: @primary_red;
}

#window {
    font-weight: bold;
    padding: 0px;
}

/* -----------------------------------------------------------------------------
 * Modules Center
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Modules Left
 * -------------------------------------------------------------------------- */

#tray image {
    padding: 0;

}

#idle_inhibitor.activated {
    color: @primary_orange;
}

#keyboard-state label.locked {
    color: @primary_orange;
}

#pulseaudio.input.source-muted {
    color: @primary_red;
    font-size: 16px;
}

#pulseaudio.output.muted {
    color: @primary_red;
    font-size: 20px;
}

#network.disconnected {
    color: @primary_orange;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @primary_orange;
}

#battery.critical {
    color: @primary_red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @primary_orange;
}

#cpu.critical {
    color: @primary_red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @primary_orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

#custom-right,
#custom-left,
#custom-right2,
#custom-left2 {
    font-size: 21px;
    color: @primary;
    background: @base;
    padding: 0 0px;
    margin: 0 0px;
}

#custom-right,
#custom-left2 {
    background: @primary;
    color: @base;

    ;

}