@define-color base #1e242f;
@define-color urgent #b02c36;
@define-color primary_orange #fe9000;
@define-color primary_yellow #ffdd4a;
@define-color primary_red #da1b2b;
@define-color primary_blue #afd2e9;
@define-color primary_blue_2 #6fadd6;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Fira Code Nerd Font";
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @primary_blue;
    background-color: @base;
    font-size: 12px;
    border-radius: 5em;
}

/* Every modules */
#sway-scratchpad,
#sway-workspaces,
#sway-window,
#sway-mode,
#tray,
#custom-clipboard,
#idle_inhibitor,
#keyboard-state,
#pulseaudio,
#network,
/* #battery,
#bluetooth, */
#cpu,
#memory,
#clock,
#custom-weather,
#custom-power {
    padding: 0px 10px 0px 10px;
    background: transparent;
}

/* -----------------------------------------------------------------------------
 * Modules Right
 * -------------------------------------------------------------------------- */

#scratchpad {
    border-right: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces {
    font-size: 16px;
    border-right: 1px solid;
    padding-right: 10px;
}

#workspaces button {
    /*    border-bottom: 3px solid @primary_blue_2;*/
    margin: 4px 0;
    padding: 0 6px;
    color: #ffffff;
}

#workspaces button.focused {
    /*     border: 1px solid  @primary_yellow; */
    /*     border-radius: 20px; */
    color: @primary_yellow;
}

#workspaces button:hover {
    border-top: none;
    /*     border-radius: 20px; */
    color: @primary_blue;
    background: transparent;
}


#workspaces button.urgent {
    border-color: @primary_red;
    color: @primary_red;
}

#window {
    padding-left: 10px;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Modules Center
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Modules Left
 * -------------------------------------------------------------------------- */

#idle_inhibitor.activated {
    color: @primary_orange;
}

#keyboard-state label.locked {
    color: @primary_orange;
}

#pulseaudio.input.source-muted {
    color: @primary_red;
    font-size: 16px;
}

#pulseaudio.output.muted {
    color: @primary_red;
    font-size: 16px;
}

#network.disconnected {
    color: @primary_orange;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @primary_orange;
}

#battery.critical {
    color: @primary_red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @primary_orange;
}

#cpu.critical {
    color: @primary_red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @primary_orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-power {
    border-color: white;
    border-left: 1px solid;
    padding-right: 15px;
    padding-left: 10px;
    /* color: @primary_red; */
    font-size: 16px;
    font-weight: bold;
}