@define-color base           #1e242f ;
@define-color urgent         #b02c36 ;
@define-color primary_orange #fe9000 ;
@define-color primary_yellow #ffdd4a ;
@define-color primary_red    #da1b2b ;
@define-color primary_blue   #afd2e9 ;
@define-color primary_blue_2 #6fadd6 ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
    font-family: "Fira Code Nerd Font";
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @primary_blue;
    background-color: @base;
    font-size: 12px;
    border-radius: 5em;
}

/* Every modules */

#sway-workspaces,
#sway-scratchpad,
#sway-window,
#keyboard-state,
#custom-clipboard,
#custom-power,
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor{
    padding:0.6rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @primary_orange;
}

#battery.critical {
    color: @primary_red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @primary_orange;
}

#cpu.critical {
    color: @primary_red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @primary_orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {

    border-bottom: 3px @primary_blue;
    color: white;
    margin-left: 5px;
    padding: 7px;
    border-radius: 5em;
}

#network.disconnected {
    color: @primary_orange;
}

#pulseaudio {
    padding-top:6px;
}

#pulseaudio.muted {
    color: @primary_red;
    font-size: 16px;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces {
    font-size:16px;
    border-right: 1px solid;
    padding-right: 10px;
}

#workspaces button {
/*    border-bottom: 3px solid @primary_blue_2;*/
    margin: 4px 0;
    padding: 0 6px;
    color: #ffffff;
}

#workspaces button.focused {
/*     border: 1px solid  @primary_yellow; */
/*     border-radius: 20px; */
    color: @primary_yellow;
}

#workspaces button:hover {
    border: none;
/*     border-radius: 20px; */
    color: @primary_blue;
    background: transparent;
}


#workspaces button.urgent {
    border-color: @primary_red;
    color: @primary_red;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

#scratchpad {
    border-right: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
}

#window {
    padding-left: 10px;
}

#custom-power {
    border-color: white;
    border-left: 1px solid;
    padding-right: 15px;
    padding-left: 10px;
    /* color: @primary_red; */
    font-size: 16px;
    font-weight: bold;
}