@define-color base #241F31;
@define-color primary_orange #FF7800;
@define-color primary_red #E01B24;
@define-color primary #99C1F1;

* {
   font-family: 'FiraCode Nerd Font';
   font-size: 14px;
}

window {
   margin: 0px;
   padding: 10px;
   border-radius: 40px;
   background-color: @primary;
}

#inner-box {
   margin: 5px;
   padding: 10px;
   border: none;
   background-color: transparent;
}

#outer-box {
   margin: 5px;
   padding: 10px;
   border: none;
   background-color: transparent;
}

#input {
   margin: 5px;
   padding: 10px;
   border: 1px solid;
   border-color: @base;
   border-radius: 5em;
   color: @base;
   background-color: @primary;
}

#text {
   margin: 5px;
   padding: 10px;
   border: none;
   color: @base;
}

#entry:selected {
   background-color: @base;
   outline-style: none;
}

#entry:selected #text {
   color: @primary;
   font-weight: bold;
}

#entry:unselected #text {
   color: @base;
   font-weight: normal;
}

expander #entry {
   background-color: @primary;
}

expander #entry #unselected #text {
   color: grey;
   font-weight: bold;
}

expander #entry:selected {
   background-color: @base;
   font-weight: bold;
}