@define-color base #241F31;
@define-color primary_orange #FF7800;
@define-color primary_red #E01B24;
@define-color primary #99C1F1;

* {
   font-family: 'FiraCode Nerd Font Mono';
   font-size: 450px;
   border: 0px solid;
   margin: 0px;
   padding: 0px;

}

window {
   background: transparent;
}

#inner-box {
   margin-right: 150px;
   background-color: transparent;
}

#outer-box {
   background-color: transparent;
}

#text {
   color: white;
   padding-left: 30px;
   text-shadow: 0 0 15px @base;
}

#text:selected {
   color: @primary_red;
}

#entry:focus {
   border: 0px;
}

#entry:selected {
   background-color: transparent;
   outline-style: none;
}